@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Regular.woff2') format('woff2'),
        url('../fonts/AcuminPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Medium.woff2') format('woff2'),
        url('../fonts/AcuminPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeue-Bold.woff2') format('woff2'),
        url('../fonts/UniNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

